*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    
    width: 100%;
    margin-top: 10%;
  

}
.wrapper{
    width: 90%;
    height:100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.text{
    flex-basis: 45%;

}
.all-images{
    height: 80vh;
    display: flex;
}
.small-images{
    display: flex;
    flex-direction: column;

}
.small-images img{
    height: 19vh;
    margin-bottom: 9px;
    cursor: pointer;
    opacity: 0.6;
}
.small-images img:hover{
    opacity: 1;
} 
.main-images img{
    height: 100%;
    margin-left: 20px;

}
p{
    margin-bottom: 20px;
}
.brand{
    background-color: #008000;
    width: fit-content;
    color:#fff;
    font-size: 12px;
    padding: 2px 5px;
}
h2{
    font-size: 35px;
    color: #555;
    margin-bottom: 20px;
}
.review{
    background-color: green;
    display: inline-block;
    color: #fff;
    padding: 4px;
    border-radius: 5px;

}
.review .fa{
    color:#fff;
}
.price{
    color: red;
    font-size: 28px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 10px;

}
.price-box{
      display: flex;
      align-items: center;

}
input{
    width: 30px;
    border: 2px solid #ccc;
    font-weight: bold;
    text-align: center;
    
}
button{
    width: 140px;
    color: #fff;
    font-size: 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    background-color: #fe980f;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
}
button .fa{
    margin-right: 10px;
}
.buy{
    background-color: rgb(201,97,57);
}
.main{
    background-color: ghostwhite;
    color: black;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    justify-content: space-between;
}

.sbmain p{
    float: right;
    width: 200px;
    font-family:Montserrat; 
}
.sbmain img{
    height: 60px;
    padding-left: 40px;
}

.main2{
    background-color: black;
    color:rgb(201, 194, 194);
    
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    justify-content: space-between;
}
.sbmain1 p{
    font-family:Montserrat;
    margin-left:50px ;
}

.sbmain2 img{
    width: 100%;
}

.main4 h1{
    text-align:center;
    font-size: 50px;
}
.main4 p{
   padding: 8px;
   text-align: center;
   font-family: monospace;
   font-size:15px;
}
p{
    padding-top: 20px;
}
